p{
  font-size: 1em;
}
.p1{
  line-height: 0.5em !important;
}

html.img-right div.slide-background.present {
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
}
